{% extends "base.html" %}
{% load static %}
{% block customcss %}


<link rel='stylesheet' type='text/css' href="{% static 'style.css' %}">
{% endblock customcss %}

  <body class="text-center">

{% block content%}
  
    

  <form  class="form-signin"method="POST"action="">{% csrf_token %}>
    <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">サインアップする</h1>
    
    {% if error %}
    {{error}}
     {% endif %}
    
    <label for="inputEmail" class="visually-hidden">メールアドレス</label>
    <input type="text" id="inputEmail" class="form-control" name="username"　placeholder="ユーザー名" required autofocus>
    <label for="inputPassword" class="visually-hidden">パスワード</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="パスワード" required>
    <div class="checkbox mb-3">
    
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">サインイン</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2021</p>
  </form>



    
  </body>
  
 {% endblock content%}